// .dialog-container{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 90%;

//
// }

.dialog-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-style: bold;
}
